@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

html {
  overflow-x: hidden;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(172, 187, 205);
    /* border: 3px solid rgb(172, 187, 205); */
  }

  .zoom {
    zoom: 1.2;
  }

  .zoom-normal {
    zoom: 1;
  }

  .zoom-out {
    zoom: 0.3;
  }
}
