@import "tailwindcss";

@plugin "@tailwindcss/typography";

/* @import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Permanent+Marker&family=Itim&display=swap"); */

* {
  /* font-family: "Itim", cursive; */
  font-family: "Andika", sans-serif;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 4px !important;
  width: 25px !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  opacity: 1 !important;
}

.swiper-navigation-icon {
  display: none !important;
}

.bestselling .swiper-button-next,
.bestselling .swiper-button-prev {
  top: 40% !important;
}

.swiper-button-disabled {
  cursor: not-allowed !important;
  background-color: #6c6c6c !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  width: 5px !important;
  height: 5px !important;
}

.swiper-button-next:after {
  border-top: 2px solid #ffffff !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: 2px solid #ffffff !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  filter: none !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.swiper-button-prev:after {
  border-top: none !important;
  border-bottom: 2px solid #ffffff !important;
  border-left: 2px solid #ffffff !important;
  border-right: none !important;
}

/* .swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
} */

html,
body {
  max-width: 100vw;
}

a {
  text-decoration: none;
}

.andika-font {
  font-family: "Andika", sans-serif;
}

.permanent-marker-font {
  font-family: "Permanent Marker", cursive;
}

.clip-path-diagonal-left {
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.clip-path-diagonal-right {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.swiper-navigation-icon {
  display: none;
}

@theme {
  --color-primary: oklch(0.6048 0.1869 24.67);
  --color-skeleton: oklch(87.13% 0.0583 135.76);
  --color-secondary: oklch(0% 0.0074 39.87);
  --color-accent: oklch(89.14% 0.172 109.35);
  --color-maroon: oklch(33.24% 0.155 27.25);
  --color-cream: oklch(94.19% 0.018 95.41);
  --color-orange: oklch(74.56% 0.223 69.82);

  --font-sans: Andika, sans-serif;
  --font-andika: Andika, sans-serif;
  --font-marker: "Permanent Marker", cursive;
  --font-itim: Itim, cursive;
  --font-inconsolata: Inconsolata, monospace;

  --animate-zoomInOut: zoomInOut 5s infinite;
  --swiper-theme-color: oklch(79.23% 0.1051 152.11);
}

.swiper-pagination-bullet-active {
  background: rgb(219, 69, 69) !important;
}

@utility zoom-8 {
  zoom: 0.8;
}

@utility zoom-0 {
  zoom: normal;
}

@utility zoom-0_1 {
  zoom: 0.8;
}

@utility zoom-out-1 {
  zoom: 0.1;
}

@utility drag-none {
  -webkit-user-drag: none;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@media only screen and (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    height: 40px !important;
    width: 40px !important;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
